body, html {
/*    max-width:18cm;
    margin: auto;
*/
    
    line-height: 1.6;
}

h3 {
    padding-top: 20px
}

th {
    font-size: 120%;
    padding: 5px
}

td {
    font-size: 120%;
    padding: 5px
}
